<nav class="navbar">
	<div class="left">
		<div class="logo animate"></div>
		<div class="nav-btn animate" onclick="toggleLorem()"><button>btn_1</button></div>
		<div class="nav-btn animate" onclick="alert('hewo')"><button>btn_2</button></div>
		<div class="nav-btn animate" onclick="print_viewport()"><button>btn_3</button></div>
	</div>
	<div class="right">
		<div class="nav-link animate"><a href="/index.html">Homepage</a></div>
		<div class="nav-link animate"><a href="/boxes.html">Box</a></div>
		<div class="nav-link animate"><a href="/colors.html">Colors</a></div>
		<div class="nav-link animate"><a href="foo.html">Foo</a></div>
	</div>
</nav>