{% extends "./bare.njk" %}
{% block body %}
	{% include "partials/nav.njk" %}
	<main>
		{% if not no_title %}
			<h1>{{ title if title else site.host }}</h1>
		{% endif %}
		{% block content %}{{content | safe}}{% endblock %}
	</main>
	{% include "partials/footer.njk" %}
{% endblock %}