<nav class="navbar">
    <div class="left">
        <div class="logo animate"></div>
        <div class="nav-btn animate" onclick="toggleLorem()">
            <button>Toggle lorem</button>
        </div>
        <div class="nav-btn animate" onclick="alert('hewo')">
            <button>(say hi)</button>
        </div>
        <div class="nav-btn animate" onclick="print_viewport()">
            <button>(See the console)</button>
        </div>
    </div>
    <div class="right">
        <div class="nav-link animate">
            <a href="/">Homepage</a>
        </div>
        <div class="nav-link animate">
            <a href="/boxes">Foo</a>
        </div>
        <div class="nav-link animate">
            <a href="/colors">Bar</a>
        </div>
        <div class="nav-link animate">
            <a href="/posts/Arch%20Notes/">Bazz</a>
        </div>
    </div>
</nav>