{% extends "base.njk" %}
{% block content %}
	{% if tags %}
		Tags:
		{% for t in tags %}
		<span class="blog_tag">{{t}}</span>
		{% endfor %}
	{% else %}
		(this post has no tags)
	{% endif %}

	{{content | safe}}
{% endblock %}
