@import url("/styles.css");

@keyframes blink {
	100% { background-color: transparent }
}	

main {
	position: relative;
}

#blinking-dot {
	position: absolute;
	top: var(--gaps);
	left: var(--gaps);	
	border-radius: 50%;
	min-height: calc(var(--gaps) / 1.5);
	min-width: calc(var(--gaps) / 1.5);
	background-color: var(--color-mint);
	animation: 0.5s blink infinite;
	&+span {
		position: absolute;
		margin-left:  calc(var(--gaps) * 2); 
		font-size: calc(var(--gaps) / 2);
		color: var(--color-mint);
	}
}